.container {
    margin-bottom: 30px;
}

nav button {
  border-color: rgba(255, 255, 255, 0.5) !important;

  }

/* unvisited link */
nav a:link {
  color: #EDE1B6 !important;
}

/* visited link */
nav a:visited {
  color: #EDE1B6 !important;
}

/* mouse over link */
nav a:hover {
  /*color: #e8553e !important;*//* original color*/
  color: #ff5d44 !important;
}

/* selected link */
nav a:active {
  color: blue !important;
}


/* About Us Styles */
.team-member {
    padding: 0 !important;
    margin: 0 auto 55px !important;
}

.team-member img {
    display: block;
    margin: 0 auto 12px;
}

.team-member h2 {
    text-align: center;
}



