nav img {
    width: 100px;
}

.logo-text {
    /*color: #e8553e;*//*this is the original color*/
    color: #ff5d44;
}

form button {
    margin-top: 15px;
    width: 100% !important;
}

.signup-button {

    width: 100%;
}

.signup-button button {
    background: #E8553E !important;
    border-color: #E8553E;
    display: block;
    margin: 0px auto;
    width: 40% !important;
}

.or {
    margin: 10px auto;
    text-align: center;
}


@media only screen and (min-width: 770px) {


    form button {
        width: 100px !important;
        box-shadow: 1px 1px 3px #222222 !important;
    }

    .signup-button, .or {
        display: none;
    }


    #app-description {
            grid-column: 2;
            grid-row: 2;
    }

    #user-form {
        grid-column: 4;
        grid-row: 2;
    }

    #error-info {
        grid-column: 2;
        grid-row: 2;
    }


    /*  About Us - desktop view */
    #team {
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    #jeff {
        grid-column: 2;
        grid-row: 3;
    }

    #daniel {
        grid-column: 4;
        grid-row: 3;
    }

    #pablo {
        grid-column: 2;
        grid-row: 4;
    }

    #evan {
        grid-column: 4;
        grid-row: 4;
    }

    /* Jeff and Pablo */
    .name-light {
        /*color: #e8553e;*//*this is the original color*/
        color: #ff5d44;
    }

    /* Dan and Evan*/
    .name-dark {
        color: #e8553e;
    }



}