    #messages-box {
        grid-column: 2;
        grid-row: 2;
    }

    #messages-box ul {
        list-style: none;
    }

    #messages-box h2 {
        padding-left: 15px;
        text-align: center;
    }

    .message-list{
        height: 500px;
        overflow: scroll;
    }

    .message {
        background: #ffffffaa;
        padding: 15px 25px 5px 25px;
        margin: 10px 0px 10px -15px;
        width: 100%;
        border-radius: 5px;
    }
