<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>About</title>
    <div th:replace="~{fragments :: head}"></div>
</head>
<body>
    <div th:replace="~{fragments :: header}"></div>
    <div id="about">
        <h4>Operation: saving you </h4>
        <p>Come on, lets be honest... We don't always mean it when we agree we want to hangout, or maybe you do initially and then it ends up being really boring, you get tired, they start annoying you, or maybe it's about to go  too crazy and your friends are about to do something not okay and you need to get out of there. Either way, we know what it's like to have to leave those situations and not want to look bad! We created escape as a solution to answer these types of problems and we hope you are happy with our application.</p>
    </div>

    <div id="team">
        <h4>Who are we?</h4>
        <p class="bio">Group 1 is comprised of Evan Slaton, Daniel Logerstedt, Jeff Borda, & Pablo Rosales.</p>
        <div class="team-member" id="Pablo">
            <img src="/img/Pablo.jpg">
            <h2 class="name">Pablo Rosales</h2>
            <p class="blurb">Pablo is a Latino developer in the greater Seattle area with an emphasis on client relations and has strong ties to the hispanic community. He studied Object Oriented Programming and Data Structures at Arizona State University in Java and has a keen eye for detail. He is an excellent collaborator and has a focus on customer oriented output. When hes not coding, he enjoys keeping himself fit and exploring the forests with his camera.</p>
        </div>
        <div class="team-member" id="Ray">
            <img src="/img/Ray.png">
            <p class="name">Ray Ruazol</p>
            <p class="blurb">Ray is a full stack developer with a specialty in developer operations, databases, and Python. When he isn't working, he enjoys training in Jiu Jitsu, as well as roasting his own coffee beans. He is originally from Boston, but has come to Seattle to start his career as a developer as well be a part of the developer community.</p>
        </div>
        <div class="team-member" id="Roger">
            <img src="/img/Roger.jpg">
            <p class="name">Roger Huba</p>
            <p class="blurb">Roger is a veteran of the Army and the Navy with 10 years of service. He is also a full stack developer, and has a masters in project management and specializes in planning, as well as database management. While in the Navy, he was trained to be an instructor to an impressive sized class of 200 under his influence.</p>
        </div>
        <div class="team-member" id="Tanner">
            <img src="/img/Tanner.jpg">
            <p class="name">Tanner Seramur</p>
            <p class="blurb">Tanner is the lead designer for our user-interface & user-experience divisions. He studied Graphic Design at Montana State University, and learned he excels in the front end. Although he is the head of the UX/UI division, he has also contributed just as much to the overall functionality of the backend.</p>
        </div>
    </div>




</body>
</html>