<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>About</title>
    <div th:replace="~{fragments :: head}"></div>
</head>
<body>
    <div th:replace="~{fragments :: header}"></div>
        <main id="about-main">

            <!--<div id="about">-->
                <!--<h4>Operation: saving you </h4>-->
                <!--<p>Come on, lets be honest... We don't always mean it when we agree we want to hangout, or maybe you do initially and then it ends up being really boring, you get tired, they start annoying you, or maybe it's about to go  too crazy and your friends are about to do something not okay and you need to get out of there. Either way, we know what it's like to have to leave those situations and not want to look bad! We created escape as a solution to answer these types of problems and we hope you are happy with our application.</p>-->
            <!--</div>-->

            <div id="team">
                <h2>Who are we?</h2>
                <p class="bio">We are your lifeboat, your get-out-of-jail, your fairy godmother. We are a select team of highly specialized software developers writing code to help you. We are Escape. It’s nice to meet you.</p>
            </div>
            <div class="container team-member" id="evan">
                <img src="/images/evan.jpg">
                <h2 class="name">Evan <span class="name-dark">Slaton</span></h2>
                <p class="blurb">Evan is a full stack java developer. He graduated from the Ohio State University and worked as an IT Recruiter for 5 years. After deciding that he wanted to solve big, important problems using technology, he relocated to Seattle to join one of the most talented tech communities in the world.</p>
            </div>

            <div class="container team-member" id="daniel">
                <img src="/images/dan.jpg">
                <h2 class="name">Daniel <span class="name-dark">Logerstedt</span></h2>
                <p class="blurb">Daniel is a veteran of the Army with three & a half years of service as a Satellite Network Manager. Daniel wants to use his experience with communications to create better networks and hopefully make the world little closer. He self studied programming as well as attended a boot camp and is now a Software Developer utilizing Java and JavaScript. Dan enjoys Snowboarding when he can & video games.</p>
            </div>

            <div class="container team-member" id="jeff">
                <img src="/images/jeff.jpg">
                <h2 class="name">Jeff <span class="name-light">Borda</span></h2>
                <p class="blurb">Jeff is an Army veteran, with two years of service and experience as both a fixed and rotary wing pilot. Jeff is now a full stack Java web developer in the greater Seattle Area seeking new challenges and continuous learning opportunities. Jeff has a Bachelors of Science in Flight Technology from Central Washington University. Jeff enjoys playing the Guitar as well as the Accordion, & also likes flying around the Pacific Northwest. </p>
            </div>

            <div class="container team-member" id="pablo">
                <img src="/images/pablo.jpg">
                <h2 class="name">Pablo <span class="name-light">Rosales</span></h2>
                <p class="blurb">Pablo is a Latino developer in the greater Seattle area with an emphasis on client relations and has strong ties to the hispanic community. He studied Object Oriented Programming and Data Structures at Arizona State University in Java, is a web developer, and has a keen eye for detail. He enjoys being a collaborator and has a focus on customer oriented output. When hes not coding, he enjoys art and exploring the forests with his camera.</p>
            </div>
    </main>
    <div th:replace="~{fragments :: scripts}"></div>

</body>
</html>