<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Esc | When You Just Couldn't Say No</title>
    <meta charset="UTF-8">
</head>
<body>

    <!-- Head Fragment, includes meta information, Bootstrap CDN and custom CSS -->
    <div th:fragment="head">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- Bootstrap CDN -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <!-- Custom CSS -->
        <link th:href="@{/css/base.css}" href="/css/base.css" rel="stylesheet" />
        <link th:href="@{/css/layout.css}" href="/css/layout.css" rel="stylesheet" />
        <link th:href="@{/css/module.css}" href="/css/module.css" rel="stylesheet" />
        <link th:href="@{/css/state.css}" href="/css/state.css" rel="stylesheet" />
    </div>

    <!-- Header Fragment with navbar -->
    <div th:fragment="header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/"><img alt="Logo" src="" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <!--th:text="${(user)} ? ${(user.username)} : 'Profile'"-->
                        <a class="nav-link" href="/profile">Profile</a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/perform_logout">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <!-- Scripts Fragment, contains jQuery, Bootstrap and custom scripts -->
    <div th:fragment="scripts">
        <!-- Bootstrap / jQuery -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

        <!-- Custom Script(s) -->
    </div>
</body>
</html>