<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">

<body>

    <!-- Head Fragment, includes meta information, Bootstrap CDN and custom CSS -->
    <div th:fragment="head" th:remove="tag">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- Bootstrap CDN -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" type="text/css">

        <!-- Custom CSS -->
        <link th:href="@{/css/base.css}" href="/css/base.css" rel="stylesheet" type="text/css" />
        <link th:href="@{/css/layout.css}" href="/css/layout.css" rel="stylesheet" type="text/css" />
        <link th:href="@{/css/module.css}" href="/css/module.css" rel="stylesheet" type="text/css" />
        <link th:href="@{/css/state.css}" href="/css/state.css" rel="stylesheet" type="text/css"/>

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
    </div>

    <!-- Header Fragment with navbar -->
    <div th:fragment="header">
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="/"><img alt="Logo" src="/images/esc-logo.png" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/about">The Esc Team</a>
                    </li>
                    <li sec:authorize="isAuthenticated()" class="nav-item">
                        <a class="nav-link" href="/profile">Profile</a>
                    </li>
                    <li sec:authorize="!isAuthenticated()" class="nav-item">
                        <a class="nav-link" th:href="@{/signup}">Sign Up</a>
                    </li>
                    <li sec:authorize="!isAuthenticated()" class="nav-item">
                        <a class="nav-link" href="/">Login</a>
                    </li>
                    <li sec:authorize="isAuthenticated()" class="nav-item">
                        <a class="nav-link" href="/perform_logout">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div th:fragment="description" th:remove="tag">
        <div class="container" id="app-description">
            <h2> Welcome to <span class="logo-text">Escape</span></h2>
            <p>When was the last time you were at a place and you would have rather been at home? Has your family been picking at your life choices and starting drama again? Or maybe you just have better things to do, but you don't want to look bad for leaving because you just got there? Well just about everyone has been in that situation, so we saw a problem that needed solving & we decided to create an application to solve it. Escape allows you to create a message and a time to send it on your profile and we will send your custom message to that number at your desired time, to get you out of those situations. Sign up is free and you have unlimited usage of our app, so now you can get out of next years Christmas parties. </p>
        </div>
    </div>
    <!-- Scripts Fragment, contains jQuery, Bootstrap and custom scripts -->
    <div th:fragment="scripts">
        <!-- Bootstrap / jQuery -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous" type="text/javascript"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous" type="text/javascript"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous" type="text/javascript"></script>

        <!-- Custom Script(s) -->
    </div>
</body>
</html>