<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Esc | When You Just Couldn't Say No</title>
</head>
<body>
    <h1>SPLASH PAGE</h1>

    <form action="/perform_login" method="POST">
        <label for="username"></label>
        <input id="username" name="username" type="text" />

        <label for="password"></label>
        <input id="password" name="password" type="password" />

        <input type="submit" />
    </form>
</body>
</html>