<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Esc | When You Just Couldn't Say No</title>
</head>
<body>
    <h1>PROFILE PAGE</h1>


    <h2>Create New Message</h2>
    <form action="/messages" method="POST">
        <label for="day">Day to Send</label>
        <input type="date" name="day" id="day" required />
        <label for="time">Time to Send</label>
        <input type="time" name="time" id="time" required />
        <label for="rawMessage">Message</label>
        <textarea name="rawMessage" id="rawMessage" class="text" required></textarea>
        <input type="submit" />
    </form>
</body>
</html>