<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Esc | When You Just Couldn't Say No</title>
    <div th:replace="~{fragments :: head}"></div>
</head>
<body>
    <div th:replace="~{fragments :: header}"></div>
    <h1>PROFILE PAGE</h1>


    <div class="container">
        <h2>Create New Message</h2>
        <form action="/messages" method="POST">
            <div class="form-group">
                <label for="day">Day to Send</label>
                <input type="date" name="day" id="day" class="form-control" required />
            </div>
            <div class="form-group">
                <label for="time">Time to Send</label>
                <input type="time" name="time" id="time" class="form-control" required />
            </div>
            <div class="form-group">
                <label for="rawMessage">Message</label>
                <textarea name="rawMessage" id="rawMessage" class="form-control" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>


    <div th:replace="~{fragments :: scripts}"></div>

</body>
</html>