<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Esc | When You Just Couldn't Say No</title>
    <div th:replace="~{fragments :: head}"></div>
</head>
<body>
    <div th:replace="~{fragments :: header}"></div>
    <h1>SIGNUP PAGE</h1>

    <form action="/signup" method="POST">
        <label for="username">Username</label>
        <input id="username" name="username" type="text" required />

        <label for="phoneNumber">Phone Number</label>
        <input id="phoneNumber" name="phoneNumber" type="tel"  required />

        <label for="password">Password</label>
        <input id="password" name="password" type="password" required />

        <input type="submit" />
    </form>

    <div th:replace="~{fragments :: scripts}"></div>
</body>
</html>